.upload{
    margin-top: 20px;
    margin-bottom: 20px;
    .image-privew{
        max-width: 200px;
        max-height: 200px;
        width: 200px;
        height: 200px;
        object-fit: cover;
        display: block;
        margin-bottom: 20px;
    }
}